.markupShopList{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
}
.items{
    position: relative;
    width: 275px;
    background-color: burlywood;
}
.shopBox{
    min-height: 200px;
    background-color: antiquewhite;
    margin-bottom: 20px;
}
.titleShopList{
    margin-bottom: 10px;
}
.price{
    margin-bottom: 10px;
}
.buttonQuantity{
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
      background-color: #CCE4FB;
    &:hover,
    &:focus{
        background-color:#54ADFF; ;
    }
}
.quantity{
    
    margin-right: 10px;
    margin-left: 10px;
    
}
.orderPrice{
    margin-bottom: 10px;
}
.totalPrise{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(193, 151, 233);
}
.btnTrash{
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 50px;
    left: 240px;
  top: 5px;
  z-index: 100;
}
.btnTrash:hover .trash path{
    stroke: #0b7de8;
}
.btnDeleteAll{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(193, 151, 233);
}