.markupPage{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    
    max-width: 1215px;
    background-color: rgb(193, 200, 198);

}
.title{display: "block";
    text-align: center;
    padding: 400px;
    font-weight: 900;
          
        color: red;
        }
